/*   GENERAL   */
body{font-family: 'Heebo', sans-serif; font-weight: 400; color: #21243D;}
h1, h2, h3, h4, p, body, html{margin: 0;padding: 0;}
.container{max-width: 1150px; margin: 0 auto;}
.container-content{max-width: 900px; margin: 0 auto;}

/* MODIFERS*/
._title{font-family: 'Heebo', sans-serif; font-weight: 800; color: #000;}
._subtitle{font-family: 'Heebo', sans-serif; font-weight: 400; color: #21243D;}

/*  burger  */
.hamburger-menu{display: none;}
#menu__toggle {opacity: 0;}
#menu__toggle:checked ~ .menu__btn > span {transform: rotate(45deg);}
#menu__toggle:checked ~ .menu__btn > span::before {top: 0;transform: rotate(0);}
#menu__toggle:checked ~ .menu__btn > span::after {top: 0;transform: rotate(90deg);}
#menu__toggle:checked ~ .menu__box {visibility: visible;left: 0;}

.menu__btn {
    display: flex;
    align-items: center;
    position: relative;
    float: right;
    left: -20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}
.menu__btn > span,
.menu__btn > span::before,
.menu__btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #616161;
    transition-duration: .25s;
}
.menu__btn > span::before {content: '';top: -8px;}
.menu__btn > span::after {content: '';top: 8px;}
.menu__box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    left: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #ECEFF1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, .2);
    transition-duration: .25s;
}
.menu__item {
    display: block;
    padding: 12px 24px;
    height: fit-content;
    margin: auto 0;
    margin-left: 40px;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #000;
    text-decoration: none;
    transition-duration: .25s;
}
.menu__item:hover {
background-color: #CFD8DC;
}

/*   HEADER   */
.header{margin-top: 30px;}
.header-top{margin-top: 20px; display: flex; justify-content: space-between;}
.header-logo{width: 40px; height: 40px; margin-left: 20px;}
.header-nav{display: flex; margin-right: 50px;}
.nav-link{
    height: fit-content;
    margin: auto 0;
    margin-left: 40px;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}
.nav-link:first-child{margin-left: 0;}
.nav-link::after{
    display: block;
    position: relative;
    content: "";
    width: 0%;
    height: 4px;
    left: 50%;
    background-color: #000;
    transition: all .2s ease-in-out;
}
.nav-link:hover::after{width: 100%; left: 0;}
._selected{color: #FF6464;}
._selected::after{width: 100%; left: 0; background-color: #FF6464;}

.header-info{margin-top: 140px; display: flex; justify-content: space-between;}
.header-info-logo{
    width: 240px;
    height: 240px;
    margin: 0 auto;
}
.header-info-text{max-width: 600px;}
.header-info-text-title{max-width: 490px; font-size: 48px; line-height: 60px;}
.header-info-text-subtitle{margin-top: 30px; font-size: 18px;}
.header-info-text-button{
    margin-top: 40px;
    border: none;
    border-radius: 12px;
    outline: none;
    text-decoration: none;
    cursor: pointer;
    color: #fff;
    font-family: 'Heebo', sans-serif;
    font-weight: 500;
    font-size: 20px;
    width: 210px;
    height: 50px;
    background-color: #FF6464;
    transition: box-shadow .25s ease-in-out;
}
.header-info-text-button:hover{box-shadow: 0 0 8px 0 #FF6464 inset, 0 0 10px 2px #FF6464;}
.header-info-logo{width: 250px; height: 250px;}

/*   POSTS   */
.posts{padding: 20px 0 40px 0; margin-top: 65px; background-color: #EDF7FA;}
.posts-info{display: flex; justify-content: space-between;}
.posts-info-title{font-size: 22px; font-weight: 500;}
.posts-info-link{
    color: #00A8CC;
    text-decoration: none;
    font-size: 18px;
    transition: all .3s ease-in-out;
}
.posts-info-link:hover{color: #025d72;}
.posts-container{
    margin-top: 15px; 
    display: flex; 
    justify-content: space-between;
    flex-wrap: wrap;
}

.post{width: 420px; max-height: 290px; background-color: #fff; margin: 0 auto;}
.post-content{max-width: 380px; margin: 20px auto 0 auto; padding: 20px;}
.post-title{font-size: 26px; color: #21243D;}
.post-info{margin-top: 15px; display: flex;}
.post-info-date, .post-info-theme{font-size: 18px;}
.post-info_vertiacl-slash{
    margin: 0 15px;
    width: 1px;
    height: 21px;
    background-color: #000;
}
.post-subtitle{margin-top: 15px; font-size: 17px; color: #000;}

/*   WORKS   */
.works{margin-top: 40px;}
.works-title{font-size: 22px; font-weight: 500;}
.works-container{margin-top: 40px; flex-wrap: wrap;}
.works-slot{margin-top: 35px;}
.works-slot::after{
    margin-top: 15px;
    display: block;
    content: "";
    width: 100%;
    height: 2px;
    background-color: #E0E0E0;
}
.works-slot-content{display: flex; justify-content: space-between;}
.works-slot-img{width: 250px; height: 180px; margin-right: 25px;}
.works-slot-text-title{font-size: 30px;}
.works-slot-text-info{
    margin-top: 10px;
    display: flex; 
    justify-content: space-between; 
    max-width: 180px;
}
.works-slot-text-info-date{
    padding: 2px 9px 1px 9px;
    border-radius: 20px;
    background-color: #142850; 
    color: #fff;
    font-size: 18px;
}
.works-slot-text-info-theme{font-size: 20px; font-weight: 400; color: #8695A4;}
.works-slot-text-subtitle{margin-top: 20px; max-width: 590px; font-size: 16px;}

/*   FOOTER   */
.footer{max-width: 280px; margin: 100px auto 50px auto;}
.footer-contact{display: flex; justify-content: space-between;}
.footer-contact-link, .footer-contact-link-img{width: 30px; height: 30px;}
.footer-subtitle{
    text-align: center;
    margin-top: 30px;
    font-weight: 400;
    font-size: 15px;
    color: #21243D;
}

@media screen and (max-width: 950px) {
    .container{max-width: 800px;}
    .container-content{max-width: 700px;}
    .header-info{flex-direction: column-reverse;}
    .header-info-text{text-align: center; margin: 20px auto;}
    .header-info-text-title{margin: 0 auto; max-width: 450px;}

    .posts-info{margin: 0 20px;}
    .posts-container{display: block; max-width: 550px; margin: 0 auto;}
    .post{width: 500px;}
    .post-content{max-width: 450px;}

    .works-slot-content{display: block; margin: 0 auto;}
    .works-slot-img, .works-slot-cont-img{width: 380px; height: 260px; margin: 0 auto;}
    .works-slot-text-title, .works-slot-text-info{max-width: max-content; margin: 10px auto 0 auto;}
    .works-slot-text-info{max-width: 200px;}
    .works-title{margin-left: 10px;}
    .works-slot{max-width: 540px; margin: 45px auto 0 auto;}
    .works-slot-text-subtitle{font-size: 18px;  }
}

@media screen and (max-width: 560px) {
    .hamburger-menu{display: block;}

    .header-nav{display: none;}
    .nav-link{margin-left: 20px;}
    .header-info-text-subtitle{max-width: 380px; margin: 0 auto;}
    .post{width: 380px;}


    .works-slot-content{display: block; max-width: 380px; margin: 0 auto;}
    .works-slot-text{max-width: 350px; margin: 0 auto;}
    .works-slot-cont-img, .works-slot-img{width: 340px; height: 230px; margin: 0 auto;}
    .works-slot{margin-top: 20px;}
}